/* CSS RESET */
html,body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,fieldset,caption,table,tr,td,th,address,blockquote,img {
    margin:0;
    padding:0;
}

img, fieldset, object {
    border:none;
}

*, *:after, *:before {
    box-sizing:border-box;
}

button, label {
    cursor:pointer;
}

html, body {
    min-height:100%;
}

body {
    overflow: hidden;
}

/* OUR STYLING */

main {
    display: flex;
    flex-direction: row;
}

#presentation {
    width: 60%;
    display: flex;
    flex-direction: column;
}

img {
    height: 100vh;
    max-width: 100%;
    object-fit: contain;
}

video {
    object-fit: fill;
    height: 100vh;
    width: 100%;
}

#resizer {
    cursor: ew-resize;
    width: 5px;
    background-color: darkgray;
}
